// Override Bootstrap variables BEFORE the import
$primary: #ffc107; // Your custom primary color
$secondary: #656b70; // Your custom secondary color
$tertiary: #2e2e2e; // Your custom tertiary color
@import "../../node_modules/bootstrap/scss/bootstrap";
